{% extends "base.html" %}
{% block content %}
<h2>Add Client</h2>
<form method="post">
    <div class="mb-3">
        <label>Name</label>
        <input name="name" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Haircut Type</label>
        <input name="haircut_type" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Amount Paid</label>
        <input name="amount_paid" class="form-control" required>
    </div>
    <button class="btn btn-success">Save</button>
</form>
{% endblock %}
